html {
    background-color:rgb(128, 0, 0);
}
.text {
    color:#000000;
    font-style:"times new roman", Times, serif;
}
body {
    width: 1024px;
}
#container {
    background-color:#FFFFFF;
    Margin-top: 20px;
    Margin-right: 100px;
    Margin-bottom: 20px;
    Margin-left: 100px;
    padding: 25px;
}
nav {
    text-align: center;
}
.russoLogo {
    width: 500px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
hr {
    border: 1px #800000 solid;
}
h2 {
    font-size: 24pt;
    text-decoration:underline;
    color: #000080;
}
p {
    padding: 30px;
    font-style: "helvetica", "Arial", "sans-serif";
}
#russoMenu {
    text-align: center;
    text-decoration: underline;
}
.russoMenuText {
    text-align: center;
    margin-top:-30px;
}
.russoMenuBodyText {
    margin-top:-40px;
}
.russoImg {
   width:350px;
}
#menuContents {
    padding-left:45%;
    margin-top:-40px;
}